.container {
  width: 100%;

  .box {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_info {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
      }

      &_input {
        width: 70%;
        padding: 10px;
        border: 2px solid grey;
        border-radius: 5px;
        outline: none;
        font-size: 17px;
        color: grey;

        &:focus{
          border: 2px solid #b5d8f7;
          transition-duration: 0.2s;
        }
      }

      ul{
        display: flex;
        list-style: none;
        padding: 0;
        li{
          position: relative;
          padding-left: 25px;
          color: #6D6D6D;
          &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid grey;;
          }
        }

        .invalid_1:before{
          border: 2px solid grey;
        }


        .invalid_2:before{
          border: 2px solid red;
        }

        .invalid_3:first-child:before{
          border: 2px solid red;
        }

        .invalid_4:first-child:before{
          border: 2px solid yellow;
        }
        .invalid_4:nth-child(2):before{
          border: 2px solid yellow;
        }

        .invalid_5:before{
          border: 2px solid green;
        }
      }
    }
  }
}
