<!--<ul *ngIf="password?.errors?.['required']">-->
<!--  <li class="invalid_1"></li>-->
<!--  <li class="invalid_1"></li>-->
<!--  <li class="invalid_1"></li>-->
<!--</ul>-->
<!--<ul *ngIf="password?.errors?.['minlength']">-->
<!--  <li class="invalid_2"></li>-->
<!--  <li class="invalid_2"></li>-->
<!--  <li class="invalid_2"></li>-->
<!--</ul>-->
<!--<ul *ngIf="password?.value?.match('^([A-Za-z]+){8}$') ||-->
<!--                   password?.value?.match('^([0-9]+){8}$')||-->
<!--                   password?.value?.match('^[\.!@#\$%^&\*\(\)_\=\+-]{8,}$')">-->
<!--  <li class="invalid_3"></li>-->
<!--  <li class="invalid_3"></li>-->
<!--  <li class="invalid_3"></li>-->
<!--</ul>-->
<!--<ul *ngIf="password?.value?.match('^(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{8,}$') ||-->
<!--                   password?.value?.match('^(?=.*[0-9])(?=.*[.!@#$%^&*()_=+-])[0-9.!@#$%^&*()_=+-]{8,}$')||-->
<!--                   password?.value?.match('^(?=.*[A-Za-z])(?=.*[.!@#$%^&*()_=+-])[A-Za-z.!@#$%^&*()_=+-]{8,}$')">-->
<!--  <li class="invalid_4"></li>-->
<!--  <li class="invalid_4"></li>-->
<!--  <li class="invalid_4"></li>-->
<!--</ul>-->
<!--<ul *ngIf="password.valid">-->
<!--  <li class="invalid_5"></li>-->
<!--  <li class="invalid_5"></li>-->
<!--  <li class="invalid_5"></li>-->
<!--</ul>-->
<div>
  <div [style.background]="colors[0]"></div>
  <div [style.background]="colors[1]"></div>
  <div [style.background]="colors[2]"></div>
</div>
